.header {
  display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 3rem 14rem;
      color: white;
      background-color: rgb(210 18 69);
}

.header__left-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__left-icons .icon {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.header__left-icons .icon:hover {
  opacity: 0.8;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo-image {
  height: auto; /* Adjust height as needed */
  width:14rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.header__logo-image:hover {
  opacity: 0.9;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu .icon {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.header__menu .icon:hover {
  opacity: 0.8;
}
