.kings-section {
  padding: 9rem 0;
  background: #fff;
  margin: 0 auto;
  max-width: 1200px;
}

.kings-container {
  text-align: center;
}

.kings-title {
  font-size: 50px;
  text-transform: uppercase;
  line-height: 60px;
  color: rgb(210 18 69);
  padding-bottom: 2rem;
}

.kings-description {
  font-size: 20px;
  line-height: 28px;
  color: #555;
  margin: 0 auto;
  padding-bottom: 7rem;
  max-width: 650px;

}

.kings-stats {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  align-items: stretch;
}

@media (min-width: 768px) {
  .kings-stats {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }

  .stat-box {
    position: relative;
    padding: 3rem 0;
    height: 100%;          
    display: flex;   
    flex-direction: column;
  }

  /* vertical divider between stat boxes */
  .stat-box:not(:last-child) {
    border-right: 2px dotted rgb(187, 153, 106); /* gold dotted line */
  }
}

.stat-box {
  text-align: center;
}

.stat-number {
  font-size: 140px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  line-height: 1;
  font-weight: bold;
  padding: 0 4rem;
  color: rgb(210 18 69);
}

.stat-percent {
  font-size: 65px;
  line-height: 65px;
  color: rgb(187, 153, 106); 
  margin-left: 0.25rem;
}

.stat-text {
  margin-top: 0.75rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #333;
  padding: 3rem 14px 1rem;
}
